*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-image: url('../src/assets/bg-tablet-pattern.svg');
    background-size: 800px;
    background-position: 90% -25%;
    background-repeat: no-repeat;

}


